.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid-item{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.grid-item img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}